<div class="card">
    <div class="card-content">
        <span class="card-title">DATOS DE LA MASCOTA</span>
        <div class="row">
            <customer-by-id id="$ctrl.item.owner._id"></customer-by-id>
            <pet-upload-file pet="$ctrl.pet" item="$ctrl.item"></pet-upload-file>
            <input-pet name="name" model="$ctrl.item.name" ng-model="$ctrl.item.name" label="Nombre"></input-pet>
            <div class="input-field">
                <input id="birthday" type="text" ng-model="$ctrl.item.birthday" class="datepicker" show-datepicker>
                <label class="active" for="birthday">Fecha de Nacimiento</label>
            </div>
            <input-pet name="specie" model="$ctrl.item.specie" ng-model="$ctrl.item.specie" label="Especie"></input-pet>
            <input-pet name="race" model="$ctrl.item.race" ng-model="$ctrl.item.race" label="Raza"></input-pet>
            <input-pet name="chipNumber" model="$ctrl.item.chipNumber" ng-model="$ctrl.item.chipNumber" label="Numero de Chip"></input-pet>
            <input-pet name="description" model="$ctrl.item.description" ng-model="$ctrl.item.description" label="Descripción"></input-pet>
        </div>
    </div>
</div>