<div class="card">
  <div class="card-content">
    <span class="card-title">DATOS PERSONALES</span>
    <div class="row">
      <input-customer name="firstName" ng-model="$ctrl.item.firstName" model="$ctrl.item.firstName" label="Nombre:"></input-customer>
      <input-customer name="lastName" ng-model="$ctrl.item.lastName" model="$ctrl.item.lastName" label="Apellido:"></input-customer>
      <input-customer name="dni" ng-model="$ctrl.item.dni" model="$ctrl.item.dni" label="DNI:"></input-customer>
      <input-customer name="phone" ng-model="$ctrl.item.phone" model="$ctrl.item.phone" label="Teléfono:"></input-customer>
      <input-customer name="email" ng-model="$ctrl.item.email" model="$ctrl.item.email" label="Email:"></input-customer>
      <input-customer name="note" ng-model="$ctrl.item.note" model="$ctrl.item.note" label="Nota:"></input-customer>
    </div>
  </div>
</div>