<div ng-if="!pets" class="card">
	<div class="card-content">
		<p class="grey-text">Aun no tiene mascotas
			asociadas!!!</p>
	</div>
</div>
<div class="row" ng-repeat="pet in pets">
	<div class="col s12 m12">
		<div class="card" ng-click=($ctrl.pet.selectPet(pet))>
			<div class="card-content" ng-class="{'teal lighten-2': pet._id == $ctrl.pet.selected._id}">
				<span class="card-title">{{pet.name | uppercase}}</span>
				<p ng-class="{'grey-text': pet._id != $ctrl.pet.selected._id, 'black-text': pet._id == $ctrl.pet.selected._id}">{{pet.specie}} - {{pet.race}}</p>
			</div>
		</div>
	</div>
</div>