<div class="card">
    <div class="card-content">
        <span class="card-title">DATOS DE LA MASCOTA<a class="btn-floating waves-effect waves-light right"><i ng-click="$ctrl.customer.delete(customer);" class="material-icons" style="line-height: inherit !important;">mode_edit</i></a></span>
        <div class="row">
            <customer-by-id id="$ctrl.item.owner" customer="$ctrl.customer"></customer-by-id>
            <div class="input-field">
                <input id="name" type="text" ng-model="$ctrl.item.name" class="validate">
                <label class="active" for="name">Nombre</label>
            </div>
            <div class="input-field">
                <input id="birthday" type="text" ng-model="$ctrl.item.birthday" class="validate">
                <label class="active" for="birthday">Fecha de Nacimiento</label>
            </div>
            <div class="input-field">
                <input id="specie" type="text" ng-model="$ctrl.item.specie" class="validate">
                <label class="active" for="specie">Especie</label>
            </div>
            <div class="input-field">
                <input id="race" type="text" ng-model="$ctrl.item.race" class="validate">
                <label class="active" for="race">Raza</label>
            </div>
            <div class="input-field">
                <input id="chipNumber" type="text" ng-model="$ctrl.item.chipNumber" class="validate">
                <label class="active" for="chipNumber">Numero de Chip</label>
            </div>
            <div class="input-field">
                <input id="description" type="text" ng-model="$ctrl.item.description" class="validate">
                <label class="active" for="description">Descripcion</label>
            </div>
        </div>
    </div>
</div>
