<div class="card">
  <div class="card-content">
    <span class="card-title">DATOS PERSONALES<a class="btn-floating waves-effect waves-light right"><i ng-click="$ctrl.customer.delete(customer);" class="material-icons" style="line-height: inherit !important;">mode_edit</i></a></span>
    <div class="row">
      <div class="input-field">
        <input id="first_name" type="text" ng-model="$ctrl.item.firstName" class="validate">
        <label class="active" for="first_name">Nombre:</label>
      </div>
      <div class="input-field">
        <input id="last_name" type="text" ng-model="$ctrl.item.lastName" class="validate">
        <label class="active" for="last_name">Apellido:</label>
      </div>
      <div class="input-field">
        <input id="dni" type="text" ng-model="$ctrl.item.dni" class="validate">
        <label class="active" for="dni">DNI:</label>
      </div>
      <div class="input-field">
        <input id="phone" type="text" ng-model="$ctrl.item.phone" class="validate">
        <label class="active" for="phone">Teléfono:</label>
      </div>
      <div class="input-field">
        <input id="email" type="text" ng-model="$ctrl.item.email" class="validate">
        <label class="active" for="email">Email:</label>
      </div>
      <div class="input-field">
        <textarea id="note" ng-model="$ctrl.item.note" class="materialize-textarea"></textarea>
        <label class="active" for="note">Nota:</label>
      </div>
    </div>
  </div>
</div>